html {
    background-color: #1eb7d2;
}
.handf{
    height: 70px;
    background-color: #008000;
}
.block{
    width: 250px;
    height: 250px;
    

}
.main{
    background-color: hsla(120, 100%, 25%, 0.300);
    display: inline-flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
img {
    width: 250px;
    height: 250px;
}
.all{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.bl1{
    margin-left: 10px;
}

