@import 'mixins';
@import 'nesting';
@import 'operators';
@import 'variables';

body {
    background: $blue;
    font-family: $font-stack;
    @include flexCenter();
    
    p{
      font-size:  $p; 
    }

    .fname {
        color: $fname;
    }
}