
header {
    background-color: purple;
    height: 150px;
    width: 100%;
    margin: 0;
    
}
.box1 {
    background-color: blue;
    width: 200px;
    
    
}
.box2{
    background-color: gainsboro;
    width: auto;
    flex-grow: 1;
}
.box3{
    background-color: green;
    width: 200px;
    
    
}
footer {
    background-color: brown;
    width: 100%;
    height: 150px;
   
}

.container {
    display: flex; 
    flex-grow: 1;
    height: 300px;
    
  }
  
.all {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;    
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container {
        display: flex; 
        flex-grow: 1;
        height: 300px;
        
      }
      
    .all {
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;    
    }








}