
.box1 {
    background-color: yellow;
    width: 300px;
    height: 300px;
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);
    

}
.box2 {
    background-color: blue;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    
}
.box3 {
    background-color: green;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
}